<div class="qr-modal-premium">
  <div class="qr-header">
    <div class="icon-box">
      <mat-icon>qr_code_2</mat-icon>
    </div>
    <div class="textos">
      <h2>Acesso Mobile</h2>
      <p>Escaneie para acessar à versão mobile</p>
    </div>
    <button class="btn-close" (click)="fechar()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <div class="qr-body">
    <div class="qr-code-wrapper">
      <div class="scan-line"></div>
      
      <div #qrContainer class="canvas-container"></div>
    </div>
  </div>

  <div class="qr-footer">
    <button class="btn-download" (click)="downloadPdf()">
      <mat-icon>download</mat-icon>
      Baixar QR Code em PDF
    </button>

    <p class="qr-dica">
      <mat-icon>wifi</mat-icon>
      Certifique-se de que o telemóvel está na mesma rede Wi-Fi.
    </p>
  </div>
</div>