<div class="mobile-wrapper">
  
  <div class="scanner-overlay" *ngIf="isScannerAtivo">
    <div class="scanner-header">
      <button class="btn-close-scanner" (click)="fecharScanner()">
        <mat-icon>close</mat-icon>
      </button>
      <p>Aponte para o código de barras</p>
    </div>
    
    <div class="scanner-container">
     <zxing-scanner
      [formats]="formatsEnabled"
      [tryHarder]="true" 
      (scanSuccess)="handleScanSuccess($event)"
      (scanError)="handleScanError($event)">
    </zxing-scanner>
      <div class="scan-region-highlight"></div>
    </div>
  </div>

  <header class="mobile-header">
    <button class="btn-back" (click)="voltar()">
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <h1>Boletos</h1>
    <div class="spacer"></div>
  </header>

  <main class="mobile-content">
    <p class="subtitle">Cadastrar nova conta</p>

    <form [formGroup]="form" (ngSubmit)="salvar()" class="form-card">
      
      <div class="form-group">
        <label for="codigoBarras">Código de Barras</label>
        <div class="input-container">
          <button type="button" class="btn-icon-scanner" (click)="abrirScanner()">
            <mat-icon>qr_code_scanner</mat-icon>
          </button>
          
          <input id="codigoBarras" type="text" inputmode="numeric" formControlName="codigoBarras" placeholder="Cole ou escaneie o código" (input)="processarLinhaDigitavel()">
        </div>
      </div>

      <div class="form-group">
        <label for="descricao">Descrição da Conta</label>
        <div class="input-container" [class.has-error]="form.get('descricao')?.invalid && form.get('descricao')?.touched">
          <mat-icon>label_outline</mat-icon>
          <input id="descricao" type="text" formControlName="descricao" placeholder="Ex: Internet, Fornecedor X">
        </div>
      </div>

      <button type="submit" class="btn-submit" [disabled]="form.invalid || isLoading">
        <mat-icon *ngIf="!isLoading">check_circle</mat-icon>
        <span *ngIf="!isLoading">Cadastrar Boleto</span>
        <div class="spinner-small" *ngIf="isLoading"></div>
      </button>
    </form>

    </main>
</div>